 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}


.clock {
  color: white;
  padding: 0 0.9375rem;
  line-height: 2.8125rem;

}

.header h1 {
  text-align: center;
}

.large-12 {
	display: inline-block;
	text-align: center;
	font-size: 200%;

}

.vInfo {
	color: black;
	overflow: auto;
	border-bottom: 1px solid grey;

	 h2 {
      color: black;
      border-top: 1px solid grey;

    }
    h3 {
      color: black;
    }

	
}

.appInfo {
  color: black;
  overflow: auto;
  border-bottom: 1px solid grey;

    h2 {
      color: black;
      border-top: 1px solid grey;
    }

    h3 {
      color: black;
    }
}

.small-12 {
	margin-top: 100px;
}

//.left {
//	border-style: solid;
//	border-color: black;
//}

//.right {
//	border-style: solid;
//	border-color: black;
//}