
// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}



.header h1 {
  text-align: center;
}

.large-12 {
	display: inline-block;
	text-align: center;
	font-size: 200%;

}

.small-12 {
	margin-top: 100px;
}

.left {
	border-style: solid;
	border-color: black;
}

.right {
	border-style: solid:
	border-color: black;
}